---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Med Aziz Snoussi" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="673"
					height="473"
					src="/assets/azizpfe.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a passion for innovation and a strong foundation in web development, I focus on building responsive, dynamic, and high-performing applications. Throughout my journey, I have honed my skills in front-end and back-end development, blending creativity with technical expertise to create seamless user experiences. Whether I’m coding, problem-solving, or strategizing, my goal is to make technology accessible and impactful.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I hold a degree in Computer Science Engineering from ESPRIT, where I specialized in web and information technology. My education has equipped me with a robust understanding of both theoretical and practical aspects of software development, allowing me to tackle complex problems with a strategic and analytical mindset.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>• Full Stack Development: Skilled in front-end frameworks (React, Angular) and back-end technologies (Spring Boot, Node.js), building end-to-end applications that meet diverse needs.</p>
					<p>• Database Management: Proficient in SQL and NoSQL databases, ensuring efficient data storage and retrieval.</p>
					<p>• Problem Solving: Equipped with a solution-oriented approach to identify and resolve issues effectively.</p>
					<p>• DevOps and CI/CD: Experienced with Docker, Jenkins, Grafana, and Prometheus, enabling streamlined deployment and monitoring.</p>
					<p>• Strategic Thinking: Strong in aligning development tasks with broader business objectives to drive project success.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
